@using Microsoft.AspNetCore.Http

@model IEnumerable<FINAL_MVC.Models.Post>

@{
    ViewData["Title"] = "RedSocial";
}

<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Inicio <br />
          </h1>
         
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
               

               <!-- Postear -->
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="UsuarioID" class="control-label"></label>
                                <select asp-for="UsuarioID" class ="form-control" asp-items="ViewBag.UsuarioID"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Contenido" class="control-label"></label>
                                <input asp-for="Contenido" class="form-control" />
                                <span asp-validation-for="Contenido" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fecha" class="control-label"></label>
                                <input asp-for="Fecha" class="form-control" />
                                <span asp-validation-for="Fecha" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Ver Posts -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Usuario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contenido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                    @if (true)
                    {
                        
                    }
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contenido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}